.header {
  margin: 35px 50px 0;
  text-align: right;

  @media (max-width: 730px) {
    margin: 35px 10px 0;
  }
}

.theme-button {
  background-color: unset;
  border: none;

  &:hover path {
    stroke: var(--color-text-primary);
  }
}
