.header-button {
  background-color: unset;
  border: none;

  &:hover svg * {
    stroke: var(--color-button-hover);
  }
}

body.dark-theme .header-button {
  svg * {
    stroke: var(--accent-color-alternate);
  }
  &:hover svg * {
    stroke: var(--color-button-hover);
  }
}
