.todo-item {
  background-color: var(--accent-color-alternate);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  min-height: 84px;
  padding: 28px 30px;
  display: flex;
  align-items: center;

  @media (max-width: 480px) {
    padding: 18px 20px;
  }
}

body.dark-theme .todo-item {
  background-color: var(--color-background-secondary);
}

.todo-item__checkbox {
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;

  &:checked {
    background-color: var(--accent-color);
    & + .todo-item__label {
      text-decoration: line-through;
      color: var(--color-text-secondary);
    }
  }

  &:not(:checked) {
    &::after {
      opacity: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 10px;
    height: 10px;
    background: url('/assets/icons/todo/checked.svg') center/contain no-repeat;
  }
}

body.dark-theme .todo-item__checkbox {
  border-color: var(--accent-color-alternate);

  &:checked {
    border-color: var(--accent-color);
  }
}

.todo-item__label {
  margin: 0 auto 0 30px;
  font-size: var(--font-size-24);
  color: var(--color-text-primary);
  word-break: break-all;
  padding-right: 30px;
}

.todo-item__button {
  background-color: unset;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  &:not(:last-child) {
    margin-right: 30px;

    @media (max-width: 480px) {
      margin-right: 20px;
    }
  }
}

body.dark-theme .todo-item__button path {
  stroke: var(--accent-color-alternate);
}

body.dark-theme .todo-item__button--edit:hover path,
.todo-item__button--edit:hover path {
  stroke: var(--color-button-hover);
}

body.dark-theme .todo-item__button--delete:hover path,
.todo-item__button--delete:hover path {
  stroke: #ce2e2e;
}
