.todo-section {
  margin-block: 81px;
  max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.todo__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 58px;
  font-size: var(--font-size-48);
  color: var(--color-text-primary);
}

.todo__actions {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 60px;
}

.todo__form-task {
  display: flex;
  gap: 27px;

  @media (max-width: 480px) {
    flex-direction: column;
    display: contents;
  }
}

.todo__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  &:not(.is-visible) {
    display: none;
  }
}

.todo__filter-button,
.todo__filter-count {
  font-size: 20px;
  color: var(--color-text-secondary);
}

.todo__filter-button {
  background-color: unset;
  border: none;

  &:hover {
    color: var(--color-text-primary);
  }

  &.is-active {
    color: var(--color-text-primary);
  }

  &:not(:last-child) {
    border-right: 2px solid var(--color-text-secondary);
  }
}

.todo__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.todo__empty {
  display: flex;

  &:not(.is-visible) {
    display: none;
  }
}

.todo__empty-image {
  margin-left: -200px;
}

.todo__empty-description {
  font-style: italic;
  font-size: var(--font-size-24);
  white-space: nowrap;
  margin-top: 160px;
  margin-left: -115px;
}

.todo__error {
  text-align: center;
  font-size: 30px;
  color: var(--color-text-secondary);
  &:not(.is-visible) {
    display: none;
  }
}
