.todo-section {
  margin-block: 81px;
}

.todo {
  max-width: 690px;
  margin-inline: auto;
}

.todo__title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 58px;
  font-size: 48px;
}

.todo__actions {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 60px;
}

.todo__form {
  display: flex;
  column-gap: 27px;
}

.todo__filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  &:not(.is-visible) {
    display: none;
  }
}

.todo__filter-button,
.todo__filter-count {
  font-size: 20px;
  color: var(--color-grey-1);
}

.todo__filter-button {
  background-color: unset;
  border: none;

  &:hover {
    color: var(--color-dark-alt);
  }

  &.is-active {
    color: var(--color-dark-alt);
  }

  &:not(:last-child) {
    border-right: 2px solid var(--color-grey-1);
  }
}

.todo__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.todo__empty {
  display: flex;

  &:not(.is-visible) {
    display: none;
  }
}

.todo__empty-image {
  margin-left: -200px;
}

.todo__empty-description {
  font-style: italic;
  font-size: var(--font-size-24);
  white-space: nowrap;
  margin-top: 160px;
  margin-left: -115px;
}
