body {
  height: 100%;
  background-color: var(--color-background);
  font-family: 'Lato', sans-serif;
}

button {
  transition: var(--transition-duration);
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}
