:root {
  --accent-color: #000000;

  --color-text-primary: #333333;
  --color-text-secondary: #6a7282;

  --color-text-placeholder: #a9a9a9;

  --accent-color-alternate: #fff;
  --color-background: #f3f4f6;

  --color-button-hover: #757c88;

  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);

  --control-height: 60px;

  --font-family: 'Lato', sans-serif;

  --font-size-48: 48px;
  --font-size-24: 24px;
  --font-size-20: 20px;
  --font-size-18: 18px;

  --border-radius: 12px;

  --transition-duration: 0.2s;

  --container-max-width: 690px;
  --container-padding-x: 15px;
}

.dark-theme {
  --color-text-primary: #ffffff;
  --color-text-secondary: #6a7282;

  --color-background: #101828;
  --color-background-secondary: #1e2939;
  --color-background-alternate: #4a5565;
  --color-background-input: #364153;
}
